rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /sharedDatasets/{code} {
      allow read: if code.matches('[A-Z0-9]{4}')
        && (!resource.data.keys().hasAll(['expiresAt']) || resource.data.expiresAt > request.time);

      allow create: if code.matches('[A-Z0-9]{4}')
        && request.resource.data.keys().hasOnly([
          'name', 'x', 'y', 'pointCount', 'sampleCount', 'updatedAt', 'expiresAt'
        ])
        && request.resource.data.name is string
        && request.resource.data.name.size() <= 40
        && request.resource.data.x is list
        && request.resource.data.y is list
        && request.resource.data.x.size() <= 12
        && request.resource.data.y.size() <= 144
        && request.resource.data.pointCount is int
        && request.resource.data.pointCount >= 1
        && request.resource.data.pointCount <= 12
        && request.resource.data.sampleCount is int
        && request.resource.data.sampleCount >= 1
        && request.resource.data.sampleCount <= 12
        && request.resource.data.updatedAt is timestamp
        && request.resource.data.expiresAt is timestamp
        && request.resource.data.expiresAt > request.time;

      allow update: if code.matches('[A-Z0-9]{4}')
        && request.resource.data.keys().hasOnly([
          'name', 'x', 'y', 'pointCount', 'sampleCount', 'updatedAt', 'expiresAt'
        ])
        && request.resource.data.name is string
        && request.resource.data.name.size() <= 40
        && request.resource.data.x is list
        && request.resource.data.y is list
        && request.resource.data.x.size() <= 12
        && request.resource.data.y.size() <= 144
        && request.resource.data.pointCount is int
        && request.resource.data.pointCount >= 1
        && request.resource.data.pointCount <= 12
        && request.resource.data.sampleCount is int
        && request.resource.data.sampleCount >= 1
        && request.resource.data.sampleCount <= 12
        && request.resource.data.updatedAt is timestamp
        && request.resource.data.expiresAt is timestamp
        && request.resource.data.expiresAt > request.time
        && (!resource.data.keys().hasAll(['updatedAt']) || request.time >= resource.data.updatedAt + duration.value(1, 's'));
    }
  }
}
